*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(250, 186, 186),rgb(248, 88, 88),rgb(255, 29, 29));
}
.forms{
  height: 90vh;
  width: 30%;
  background-color: white ;
  backdrop-filter: blur(50px);
  border-radius: 12px;
  
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-pad{
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.innercont{
  position: relative;
  height: 50%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.innercontpad{
  position: relative;
  height: 70%;
  width: 90%;
 
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.downcont{
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.pseudo{
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pseudo1{
  position: relative;
  height: 100px;
  width: 98%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.cont1{
  position: relative;
  height: 40% ;
  animation: overlay 1s infinite;
  width: 70%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contin{
  position: relative;
  height: 40% ;
 background-color: rgb(255, 0, 21);
  width: 70%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.but{
  position: relative;
  height: 40% ;
  animation: overlay 1s infinite;
  width: 20%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.butin{
  position: relative;
  height: 40% ;
  width: 20%;
  background-color: rgb(255, 0, 21);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: white;
}
h1{
  font-size: 38px;
  color: rgb(255, 0, 21);
  text-align: center;
  font-family: 'Playfair Display', serif;
}
p{
  font-size: 10px;
  text-align: center;
}
.para{
  font-size: 1rem;
  color: white;
  letter-spacing: 1.5px;
}
.inputfield{
  position: relative;
  width: 100%;
}
.inputfield1{
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border-radius: 6px;
  border: 1px rgb(66, 66, 255) solid;
  box-shadow: none;
  padding: 10px;
  color: rgb(132, 121, 121);
  font-size: 1rem;
  font-style:italic;
}
.butt{
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border: 1px rgb(255, 0, 21) solid;
  box-shadow: none;
  font-size: 1rem;
  font-style:italic;
}
@keyframes overlay{
  from{
    background: linear-gradient(45deg,rgb(233, 229, 229),rgba(172, 162, 162, 0.118));
  }
  to{
    background: linear-gradient(45deg,rgba(172, 162, 162, 0.118),rgb(233, 229, 229));
  }
}
@media (min-width:250px) and (max-width:600px){
  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(250, 186, 186),rgb(248, 88, 88),rgb(255, 29, 29));
  }
  .forms{
    height: 80vh;
    width: 90%;
    background-color: white ;
    border-radius: 12px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(213, 205, 205) solid;
  }
  .inner-pad{
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  }
  .innercont{
    position: relative;
    height: 50%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .innercontpad{
    position: relative;
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
  }
  .downcont{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .pseudo{
    position: relative;
    height: 100%;
    width: 90%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .pseudo1{
    position: relative;
    height: 25%;
    width: 98%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .cont1{
    position: relative;
    height: 40% ;
    animation: overlay 1s infinite;
    width: 70%;
    border-radius: 7px;
  }
  .but{
    position: relative;
    height: 40% ;
    animation: overlay 1s infinite;
    width: 20%;
    border-radius: 7px;
  }
  .butin{
    position: relative;
    height: 40% ;
    width: 20%;
    background-color: rgb(255, 0, 21);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 60px;
    color: rgb(255, 0, 21);
    text-align: center;
    font-family: 'Playfair Display', serif;
   
  }
  p{
    font-size: 8px;
    text-align: center;
  }
  .para{
    font-size: 13px;
  }
  .inputfield{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .inputfield1{
    position: relative;
    height: 40px;
    width: 70%;
    border-radius: 6px;
    border-radius: 6px;
    border: 1px rgb(66, 66, 255) solid;
    box-shadow: none;
    padding: 10px;
    color: rgb(132, 121, 121);
    font-size: 1rem;
    font-style:italic;
  }
  .butt{
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border: 1px rgb(255, 0, 21) solid;
    box-shadow: none;
    font-size: 1rem;
    font-style:italic;
  }
  @keyframes overlay{
    from{
      background: linear-gradient(45deg,rgb(233, 229, 229),rgba(172, 162, 162, 0.118));
    }
    to{
      background: linear-gradient(45deg,rgba(172, 162, 162, 0.118),rgb(233, 229, 229));
    }
  }
}